

#logo{ 
    padding: 15px;
}
nav{
    top: 0;
    position: sticky;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.finder{
    background-image: url(/imagenes/busqueda-de-lupa.png) ;
    background-repeat: no-repeat;
    background-position: 20px center;
    font-size: 16px;
    height: 50px;
    font-weight: normal;
    width: 50%;
    padding: 0px 40px;
    border: none;
    background-color: rgb(219, 215, 215);
    border-radius: 20px;
    color: #333;
    
}
.finder:focus{
    background-image: none;
}
#notificacions{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(/imagenes/campana.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;

}

#message{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(/imagenes/comentario.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#Inicio {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    color: black;
}

#Inicio:hover {
    background-color: black;
    color: white;
}
#Explorar {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    color: black;
}

#Explorar:hover {
    background-color: black;
    color: white;
}
#Crear {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    color: black;
}

#Crear:hover {
    background-color: black;
    color: white;
}

#profile-img{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#content{
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
}
#imagen{
    display: flex;
    flex-direction: column;
    
}
.card-image{
    position: relative;
    display: inline-block;
    margin: 5px;
    border: none;
    border-radius: 10px; 
    ;
}
.card-image:hover{
    cursor: zoom-in;
}
.share-button{
    background-image: url(/imagenes/subir.png);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.puntos-button{
    background-image: url(/imagenes/mas\ \(2\).png);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
.descargar{
    position: absolute;
    top: 15px;
    left: 147px;
    height: 35px;
    opacity: 0;
}
.descarga{
    border-radius: 23px;
    border: none;
    height: 47px;
    width: 92px;
    background-color: red;
    color: white;
    font-family: -apple-system;
    font-size: 19px;
}

.card-image-buttons {
    position: absolute;
    top:0;
    left: 0;
    width: 97%;
    height: 98%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    border: none;
    border-radius: 2%;
}

.card-image:hover .card-image-buttons {
    opacity: 1;
}
.card-image:hover .descargar{
    opacity: 1;
}

.card-image-buttons button {
    margin: 10px 5px;
    padding: 16px 17px;
    background-color: #b5b5b5;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

